.sticky {
  position: fixed;
  width: 100%;
  top: 5px;
}

.topnav{
  overflow: hidden;
  background-color: #ff4d4d;
  z-index: 100;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.5s;
}

.topnav a:hover {
  background-color: #d94242;
  color: black;
  transition-duration: 0.5s;
}

.topnav a.active {
  background-color: #ff4d4d#04AA6D;
  color: white;
  transition-duration: 0.5s;
}