html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  color: red;
}

body {
  font-family: arial;
}

.validity {
  position: absolute;
}

#blocks .add-block .centered{
  margin: 25px;
  display: flex;
  justify-content: center;
}

#blocks .add-block div {
  border-radius: 10px;
  background-color: #a3edff;
  border: #a3edff solid 10px;
  cursor: pointer;
}

#blocks .add-block .menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  margin: 20px;
  border: #a3edff solid 20px;
}

.turbowarp-block:not([type="xml"]) {
  display: inline;
}

.turbowarp-block[type="xml"] {
  display: inline-grid;
}

.turbowarp-block:not([type="label"]) {
  color: #ffffff;
}
.turbowarp-block[type="label"] {
  color: #bcbcbc;
  font-weight: bold;
}

.turbowarp-block[type="reporter"] {
  border-radius: 10px;
}

.turbowarp-block[type="boolean"] {
  --mask: 
    conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) left/51% 60.00px repeat-y,
    conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) right/51% 60.00px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.turbowarp-block div, .turbowarp-block[type="xml"] textarea{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.turbowarp-input[type="boolean"] {
  --mask: 
    conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) left/51% 60.00px repeat-y,
    conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) right/51% 60.00px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  display: inline;
  border: solid;
}

.turbowarp-input[type="boolean"] div, .turbowarp-input input, .turbowarp-input select{
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.turbowarp-block select, .turbowarp-block select[acceptreporters=false]{
  border-radius: 0px;
}

.turbowarp-block select[acceptreporters=true]{
  border-radius: 10px;
}

button {
  appearance: none;
  outline: none;
}

button::-ms-expand {
  display: none;
}

:root {
  --button-border: #777;
}

.buttonstylized {
  border: 1px solid var(--button-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #bcbcbc, #cccccc 33%);
  display: grid;
  grid-template-areas: "button";
  align-items: center;
  position: relative;
}

.buttonstylized:active {
  background-image: linear-gradient(to top, #fff, #bcbcbc 33%);
}

button,
.buttonstylized:after {
  grid-area: button;
}

button:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--button-focus);
  border-radius: inherit;
}

.add-block .menu h1 {
  font-size: 48px;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

footer {
  background-color: #888888;
  text-align: center;
  color: white;
}

footer a{
  color: blue;
}

footer a:hover{
  font-weight: bolder;
}